<div class="d-flex flex-column justify-content-center align-items-center">
  <h4 class="text-success">Success! Please use this link:</h4>
  <h3>
    <a id="link" href="{{shortenedUrl}}{{findShortenUrl}}" target="_blank">{{shortenedUrl}}{{findShortenUrl}}</a>
  </h3>
  <button type="button" id="copyBtn" class="btn btn-primary btn-lg mt-3" data-toggle="tooltip" data-placement="top"
    title="Copy to clipboard">
    Copy
  </button>
</div>